
@import url('https://fonts.googleapis.com/css?family=PT+Sans');


html, body {
    font-family: 'Advent Pro', sans-serif;
    padding: 0px;
    margin: 0px;
}

#root {
    position: absolute;
    z-index: 0;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    min-width: 300px;
    // border: 1px solid red;
    overflow: hidden;

    .nav {
        position: absolute;
        z-index: 2;

        top: 0px;
        right: 0px;
        left: 0px;
        // height: 30px;

        background-color: #FFFFFF;
        // opacity: 0.9;

        padding: 10px;

        .btn-menu {
            display: none;
        }

        .nav-items {
            .select {
                display: inline-block;
                width: 200px;
                height: 40px;
    
                border-width: 1px;
                border-radius: 0px;
    
                margin-right: 5px;
            }   
    
            .check-move {
                display: inline-block;
                // width: 
                height: 28px;
    
                vertical-align: top;
    
                float: right;
                padding: 10px 10px 0px 10px;
    
                border-color: #a9a9a9;
                border-width: 1px;
                border-style: solid;
                border-radius: 0px;
    
                margin-left: 10px;
    
                input {
                    
                    border-width: 1px;
                    border-radius: 0px;
                }
                .label {
                    user-select: none;
                    vertical-align: top;
                }
            }
    
            .btn-reset {
                display: inline-block;
                width: 100px;
                height: 28px;
    
                vertical-align: top;
    
                float: right;
    
                padding: 10px 10px 0px 10px;
                text-align: center;
    
                border-color: #a9a9a9;
                border-width: 1px;
                border-style: solid;
                border-radius: 0px;
                
                margin-left: 10px;
            }
        }

        

        @media only screen and (max-width: 768px) {
            // border: 1px solid red;

            // height: 140px;



            .btn-menu {
                display: block;
                // margin-bottom: 10px;
                .menu-icon {
                    width: 30px;
                    margin-left: auto;
                    // margin-bottom: 10px;
                    text-align: right;



                    font-size: 50px;
                }
                .menu-icon.active {
                    // border: 1px solid red;
                    // margin-bottom: 10px;
                }
                .menu-icon.inactive {
                    // border: 1px solid green;
                    
                    display: none;
                }
            }

            .nav-items {
                display: none;
                .select {
                    display: block;
                    width: 100%;
    
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                .check-move {
                    float: inherit;
                    margin-left: 0px;
                }
                .btn-reset {
                    // float: inherit;
                    margin-left: 0px;
                }
            }
            .nav-items.active {
                display: block;
            }
           
        }
    }
    .container {
        position: absolute;
        z-index: 1;
        overflow: hidden;

        top: 40px;
        right: 0px;
        left: 0px;
        bottom: 0px;
    
        padding: 10px;

        canvas {
            width: 100%;
            height: 100%;
        }
        @media only screen and (max-width: 768px) {
            // top: 40px;
        }
    }
}
